body{
    margin: 0;
    padding: 0;
    font-family: arial;
}

/* starting top header */
.top-header{
    height: 50px;
    color: white;
    background-color: #102d47;
}
.top-header .container{
    position: fixed;
    background-color: #102d47;
    height: 50px;
    margin: 0 100px 0 100px;
}
.top-header .container .phone-email{
    float: left;
    display: flex;
    margin-top: 15px;
}
.top-header .container .phone-email i{
    margin-right: 10px;
}
.top-header .container .phone-email .phone{
    padding-right: 20px;
    border-right: 1px solid dimgray;
    cursor: pointer;
}
.top-header .container .phone-email .email{
    margin-left: 20px;
    cursor: pointer;
}
.top-header .container .socialmedia a{
    float: right;
    text-decoration: none;
    color: white;
    margin: 15px 0 0 20px;
}
/* ending top header */

/* starting menu ber */
nav {
    position: fixed;
	background-color: antiquewhite;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family: 'Montserrat', sans-serif;
	padding: 0 5%;
	height: 110px;
	background-color: FFFFFF;
}
nav .logo {
	float: left;
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 24px;
	color: black;
}
nav .logo .educate{
    color: #40C1EC;
}
nav .links {
	float: right;
	padding: 0;
	margin: 0 0 10px 0;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav .links li {
	list-style: none;
}
nav .links a {
	display: block;
	padding: 1em;
	font-size: 16px;
	font-weight: bold;
	color: black;
	text-decoration: none;
}
nav .links a:hover{
    color: #40C1EC;
}
nav .links a.active{
    color: #40C1EC;
}
#nav-toggle {
	position: absolute;
	top: -120px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
    cursor: pointer;
    background-color: #40C1EC;
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: white;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}
@media screen and (max-width: 768px) {
	nav .logo {
		float: none;
		width: auto;
		justify-content: center;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: dimgray;
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .links a {
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
	
}

/* ending menu ber */