body{
    margin: 0;
    padding: 0;
    font-family: arial;
	color: #102D47;
}
/* starting top header */
.top-header{
    height: 50px;
    color: white;
    background-color: #102d47;
}
.top-header .container{
    position: fixed;
    background-color: #102d47;
    height: 50px;
    margin: 0 100px 0 100px;
}
.top-header .container .phone-email{
    float: left;
    display: flex;
    margin-top: 15px;
}
.top-header .container .phone-email i{
    margin-right: 10px;
}
.top-header .container .phone-email .phone{
    padding-right: 20px;
    border-right: 1px solid dimgray;
    cursor: pointer;
}
.top-header .container .phone-email .email{
    margin-left: 20px;
    cursor: pointer;
}
.top-header .container .socialmedia a{
    float: right;
    text-decoration: none;
    color: white;
    margin: 15px 0 0 20px;
}
/* ending top header */

/* starting menu ber */
nav {
    position: fixed;
	background-color: antiquewhite;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family: 'Montserrat', sans-serif;
	padding: 0 5%;
	height: 110px;
	background-color: FFFFFF;
}
nav .logo {
	float: left;
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 24px;
	color: black;
}
nav .logo .educate{
    color: #40C1EC;
}
nav .links {
	float: right;
	padding: 0;
	margin: 0 0 10px 0;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav .links li {
	list-style: none;
}
nav .links a {
	display: block;
	padding: 1em;
	font-size: 16px;
	font-weight: bold;
	color: black;
	text-decoration: none;
}
nav .links a:hover{
    color: #40C1EC;
}
nav .links a.active{
    color: #40C1EC;
}
#nav-toggle {
	position: absolute;
	top: -120px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
    cursor: pointer;
    background-color: #40C1EC;
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: white;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}
@media screen and (max-width: 768px) {
	nav .logo {
		float: none;
		width: auto;
		justify-content: center;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: dimgray;
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .links a {
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
	
}

/* ending menu ber */

/* starting banner */
.carousel{
    margin-top: 110px;
    height: 600px;
}
.carousel-img img{
	height: 600px;
	width: 100%;
	filter: brightness(30%);
}
.carousel-caption{
	text-align: left;
	margin-bottom: 150px;
}
.carousel-caption p{
	color: #40C1EC;
	font-weight: 700;
}
.carousel-caption h1{
	font-weight: 800;
	color: whitesmoke;
}
.banner-button{
	position: relative;
  background-color: #40C1EC;
  border: none;
  font-size: 20px;
  border-radius: 5px;
  color: #FFFFFF;
  width: 160px;
  height: 55px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
.banner-button:after {
	content: "";
	background: #79deff;
	display: block;
	position: absolute;
	padding-top: 300%;
	padding-left: 350%;
	margin-left: -20px!important;
	margin-top: -120%;
	opacity: 0;
	transition: all 0.8s
  }
.banner-button:active:after {
	padding: 0;
	margin: 0;
	opacity: 1;
	transition: 0s
  }

  /* ending banner */

  /* starting features  */
  .feature{
	width: 1170px;
	text-align: center;
	margin: auto;
	border-radius: 10px;
  } 
  .feature .card-group{
	margin-top: -120px;
  }
	.feature .card-group .card:hover{
	background-color: #40C1EC;
	color: white !important;
  }
  .icon-container{
	  height: 80px;
	  width: 80px;
	  margin: auto;
	  border: 1px solid black;
	  background-color: #79deff;
	  align-items: center;
  }
  #hand-align-icon{
	  
  }

  /* starting about us */
  .about-picture-video img{
	width: 450px;
	height: 550px;
  }
  .about-picture-video video{
	  margin-left: -500px;
	  margin-bottom: -350px;
  }
  .home-about-signature .home-about{
	color: #40C1EC;
	font-weight: 700;
  }
  .founder-signature{
	  display: flex;
	  margin-top: 60px;
	  height: 80px;
	  border-bottom: 1px solid rgb(209, 202, 202);
  }
  .founder{
	  display: flex;
	  width: 50%;
  }
  .founder img{
	  width: 60px;
	  height: 60px;
	  margin-right: 20px;
  }
  .home-about-signature button{
	  margin-top: 100px;
  }

  /* ending about us */

  /* starting Best course */
  .first-icon{
	color: #40C1EC;
	font-weight: 700;
  }
  .courses-container-home{
	  margin-top: 180px;
  }
  .courses-main-home-container{
	  display: flex;
	  background-color: #102D47;
	  height: 600px;
  }
  .courses-card-home{
	  margin-top: -400px;
  }
  .courses-card-home .card-group{
	width: 1100px;
	padding: 10px;
	text-align: center;
	margin: auto;
	border-radius: 10px;
  }
  .courses-card-home .card-item{
	  padding: 10px;
	  background-color: white;
	  border-radius: 5px;
	  box-shadow: 0 5px 20px black;
	  height: 500px;
	  width: 330px;
	  margin: auto;
	  position: relative;
  }

  .card-item .card-footer{
	  position: absolute;
	  bottom: 0;
	  left: 0;
  }
  .card-item img{
	height: 250px;
	width: 300px;
  }
  .card-body{
	  text-align: left;
  }
  .card-body .card-title{
	  font-weight: 700;
  }
  
/* starting Learning */
.home-learning{
	margin-top: 100px;
}
.learning-picture-text .learning-picture{
	width: 370px;
	height: 470px;
	background-image: url(../images/card-img.jpg);
	background-repeat: no-repeat;
	background-size: 370px 470px;
}
.learning-text{
	width: 280px;
	height: 260px;
	background-color: #40C1EC;
	border-radius: 10px;
	padding: auto;
	margin-top: -200px;
	margin-left: -100px;
}
.learning-icon-text{
	display: flex;
	padding: 10px;
	justify-content: center;

}